:root {
    --background-color: rgb(0, 20, 29);
    --background-color2: rgb(71, 157, 255);
    --extra-info-bg-color: rgb(0, 243, 203);
    --text-color: white;
    --cards-bg-color: rgb(216, 252, 255);
    --text-card-color: black;
    --discord-color : rgb(114, 137, 218);
    --discord-color-dark : rgb(68, 84, 139);
}

body {
    background-image: linear-gradient(to bottom, var(--background-color), rgb(0, 54, 63));
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    color: white;
    font-family: monospace;
    font-weight: 100;
    font-size: 25px;
    height: 70px;
    background-color: var(--background-color2);
    text-transform: uppercase;
}

#title h1 {
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-top: 30px; /* Optional: add space from the top */
}

#search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 750px; /* Shorter width */
    margin-right: 5px; /* Reduced margin */
    height: 30px;
    font-size: 25px;
}

.search-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button i {
    font-size: 16px;

}

input[type = 'radio'] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.danh-muc {
    background-color: rgb(0, 46, 46);
    width: 235px;
    height: 79vh;
    border-right: 2px solid snow;
    color: var(--text-color);
    font-family: monospace;
    text-transform: uppercase;
    font-size: 20px;
    display:  block;
}

.lua-chon-title {
    position: relative;
    padding-left: 0px;
    line-height: 20px;
    display: flex;
    font-size: 24px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.lua-chon {
    background-color: rgb(0, 30, 30);
    display: block;
    line-height: 70px;
}
.lua-chon:hover {
    background-color: rgb(0, 22, 22);
}

.lua-chon label{
    display: block;
    text-align: center;
    cursor: pointer;
}

.lua-chon-type label{
    display: block;
    text-align: center;
    cursor: pointer;
}

#main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Ensure cards wrap properly */
    color: var(--text-color);
    font-size: 20px;
    padding-left: 15px;
}

.cards {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 10px;
    background-color: var(--cards-bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-card-color);
    border-radius: 10px;
    border: 10px solid rgb(37, 71, 143);
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px; /* Fixed width */
    height: 450px; /* Fixed height to match width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-size: 23px;
    
}

.cards:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
    font-size: 28px;
    background-color: aquamarine;
    padding: 0px;
}

.name{
    border-bottom: 5px solid rgb(0, 39, 90);
}

.author{
    background-color: var(--background-color);
    color: aliceblue;
}

.type{
    border-top: 5px solid rgb(0, 39, 90);
}

.icon{
    width: 150px;
    height: 150px;
    display: inline-block;
}

button.cards {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    color:azure
}

button.cards:hover {
    font-size: 50px;
    color:rgb(0, 48, 48);
}



/* Modal styles */
.modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-title{
    text-align: center;
}

.modal-content {
    /* box-shadow: 0 15px 30px rgba(9, 206, 124, 0.5); */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 97, 153);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    color:aliceblue;
    
}

.modal-main-content {
    background-color: rgb(0, 67, 105);
   padding: 10px;
}

.close {
    color: rgb(170, 170, 170);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.download-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: rgb(25, 136, 255);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: rgb(0, 46, 107);
}

.download-btn i {
    margin-right: 8px;
}

#modal-download{
    margin-left: 19vw;
    position: absolute;
}

#extra-info {
    background-color: var(--extra-info-bg-color);
}
.discord-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    background-color: var(--discord-color); /* Discord color */
    text-align: center;
    text-decoration: none; /* Remove underline */
    border-radius: 4px;
    border: 2px solid var(--discord-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.discord-button:hover {
    background-color: var(--discord-color-dark); /* Lighten color on hover */
}
